.rt-resizable-header{
  background-color: black;
  color: white;
  height: 40px;
  padding-top: 12px !important;
  text-align: left !important;
}

.rt-resizable-header-content{
  text-transform: uppercase;
}

.ReactTable .rt-resizer{
  background-color: #fff;
  width: 1px !important;
  right: 0  !important;
}

.clickable {
  cursor: pointer;
}

.filter-row-container label {
  width: 100%;
}

.bs-popover-bottom{
  z-index: 99;
  max-width: 229px;
  min-width: 250px;
}

.fa-rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}












